
ul.nav.nav-list.nav-pills.nav-stacked.abn-tree

  li.abn-tree-row(
    ng-repeat='row in tree_rows | filter:{visible:true} track by row.branch.uid'
    ng-animate="'abn-tree-animate'"
    ng-class="'level-' + {{ row.level }} + (row.branch.selected ? ' active':'') + ' ' +row.classes.join(' ')"
    )

    a(ng-click="user_clicks_branch(row.branch)")

      i.indented.tree-icon(
        ng-class="row.tree_icon"
        ng-click="row.branch.expanded = !row.branch.expanded"
        ) 

      span.indented.tree-label {{ row.label }} 
