!!!5
html(ng-app='AbnTest')
  head

    // Bootstrap 2
    link(rel="stylesheet",href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css")
    //script(src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js")

    // Angular JS
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.js")

    // Font Awesome (optional)
    link(href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css",rel="stylesheet")

    // Live Reload ( for development )
    script(src="http://localhost:35729/livereload.js")

    ///
    // abn-tree ( the thing we are testing )
    //
    script(src="../dist/abn_tree_directive.js")
    link(rel='stylesheet',href='../dist/abn_tree_style.css')


    // js for this test page:
    script(src="../test/test_abn_tree.js")


        
  body(ng-controller='AbnTestController')

    button(ng-click="change()") Change

    .row
      .span2
      .span10
        h2 angular-bootstrap-nav-tree
        h6 by Nick Perkins
        a(href='https://github.com/nickperkinslondon/angular-bootstrap-nav-tree') The code is on Github

    .row
      br

    .row
      .span2
      .span4.well

        abn-tree(
          header="This is the example tree"
          tree-data="example_treedata"
          icon-leaf='icon-file'         
          on-select="my_default_handler(branch)"
          expand-level="2"
          initial-selection="Vegetable"
          )

      .span8.well
        .alert {{ output }}
        
        //pre {{ example_treedata | json }}
